<div class="list-group mt-3">
  <a
    *ngFor="let repo of repos | slice: (page - 1) * pageSize:page * pageSize"
    [href]="repo.html_url"
    class="list-group-item list-group-item-action"
    target="_blank"
  >
    {{ repo.name }}
  </a>
</div>
<div class="d-flex justify-content-center mt-4" *ngIf="repos.length > 0">
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="repos.length"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
