app-searched-users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  app-searched-users {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .btn {
    margin-top: 13px;
    margin-left: 4px;
  }
}
